/* Desktop-first CSS */

body {
    background-color: darkcyan;
    color: darkblue;
    font-family: lato;
    margin: auto;
    padding-top: 30px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(242, 203, 136);
    padding: 10px;
    border: 2.5px solid darkcyan;
    border-radius: 5px;
}

#header {
    background-color: rgb(242, 203, 136);
    font-family: Tahoma;
    font-size: 1.25rem;
    text-align: center;
}

.image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

.image img {
    width: 100%;
    height: auto;
    float: right;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: navy;
}

#about {
    background-color: lightcyan;
    margin-top: 65px;
    padding-left: 5px;
}

#experience {
    background-color: lightcyan;
    padding: 10px;
    margin-top: 65px;
}

.job {
    margin-bottom: 20px;
    border-bottom: 1px solid navy;
    padding-bottom: 10px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.job-title {
    font-size: 1.1rem;
    color: darkblue;
}

.job-date {
    color: darkblue;
    text-align: right;
}

.job-description {
    margin-top: 10px;
    font-size: 0.95rem;
    color: darkblue;
}

#connect {
    background-color: lightcyan;
}

.connect-links {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   gap: 10px;
   list-style-type: none;
   padding-right: 5px;
   background-color: rgb(242, 203, 136); 
}

a{
    color: navy;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:red;
    text-decoration: underline;
}

/*Tablet style CSS */

@media (max-width: 1024px) {
    body {
        font-size: 0.9rem;
        padding-top: 20px;
    }

    .navbar {
        padding: 20px;
        background-color: yellowgreen
    }

    #header {
        background-color: yellowgreen;
        font-family: 'Times New Roman', Times, serif
    }

    .connect-links {
        background-color: yellowgreen;
    }
}



/* Mobile style CSS */

@media (max-width: 600px) {
    body {
        font-size: 0.8;
        padding-top: 10px;
    }

    .navbar {
        padding: 10px;
        background-color: pink;
    }

    #header {
        background-color: pink;
        font-family: 'Courier New', Courier, monospace;
    }

    .connect-links {
        background-color: pink;
    }

}